*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
  font-family: Arial;
}

body{
    margin-top: 80px;
}

header{
    background: linear-gradient(rgba(0,0,0.7), rgba(0,0,0.7)) , url(bage.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav li{
    margin: 0 15px;

}

nav a{
    color: white;
    text-decoration: none;
    position: relative;
}

nav a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: red;
    left: 0;
    bottom: -5px;
    transition: 0.3s;

}

nav a:hover::after{
    width: 100%;
}

.hero h2{
    font-size: 40px;
   
}

.hero button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}

.cars{
    padding: 50px;
    text-align: center;
}

.car-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin top:30px ;
}
.car{
    background: white;
    width: 100px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px  rgba(0, 0, 0, 1);
}