body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,#111, #1a1a1a);
    background-size: cover;
    padding-top: 70px;


}


header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}
header h1{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;

}

nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

nav ul li{
    margin-left: auto;


}
nav ul li:last-child {
    margin-right: 10px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;

}

nav ul li a:hover{
    color: red;
    transform: scale(1.1);
    text-shadow: 0 0 8px red;
    background: rgba(255,0,0,0.2);
}


nav ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: red;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


.hero{
    height: 100vh;
    background: url("bage.jpg") no-repeat center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    margin-top: 70px;
    
}

.hero h2{
    font-size: 50px;
}

.hero button{
    width: 150px;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    transition: 0.3s;
    font-weight: bold;

}

.hero button:hover{
    background: darkred;
    color: black;
    box-shadow: 0 0 15px rgba(255,0,0,0.7);

}

.hero::after{
    content: "";
    position: relative;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    pointer-events: none;
    z-index: 2;
    overflow: hidden;

}


.cars{
    text-align: center;
    padding: 80px  50px;
    background: linear-gradient(to bottom, #0f0f0f, #1a1a1a);
}

.car-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.cars h2{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;

}

.cars h2::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 60%;
    height: 3px;
    background: red;
    transform: translateX(-50%);
    border-radius: 10px;

}

.cars h2{
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6), 0 0 20px rgba(255, 0, 0, 0.4);
}

.cars h2:hover{
    letter-spacing: 4px;
    transition: 0.3s;
}

.car{
    background: rgba(255,255,255,0.95);
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding-bottom: 20px;
    transition: 0.3s;
    overflow: hidden;

}

.car:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.car img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: 0.4s;

}

.car:hover img{
    transform: scale(1.1);
}

.car{
    overflow: hidden;
}

.car button{
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
}

.car button:hover{
    background: red;
    transform: scale(1.1);
}

.car:hover{
    box-shadow: 0 0 25px rgba(255,0,0,0.5)
}

.bottom-section{
    background: linear-gradient(to bottom, #111, #1a1a1a);
    background-size: cover;
    padding: 60px 0;


}

.bottom-section::before{
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 0;

}

.bottom-section *{
    position: relative;
    z-index: 1;
}

.buy-btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

      

.buy-btn:hover {
    background: red;
    transform: scale(1.1);
}


.about{
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: center;
    color: white;
    
}

.about p{
    line-height: 1.8;
    font-size: 16px;
    opacity: 0.9;
}

.about a{
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;

}

.about a:hover{
    color: white;
}

/* CONTACT */
.contact{
    text-align: center;
    padding: 40px;
}

.contact h2{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255,0,0,0.6),
                 0 0 20px rgba(255,0,0,0.4);
}


.contact h2::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 60%;
    height: 3px;
    background: red;
    transform: translateX(-50%);
    border-radius: 10px;
}

.contact-form{
    display: flex;
    max-width: 500px;
    margin: auto;
    gap: 15px;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    padding: 12px;
    border: 2px solid rgb(60, 42, 42);
    background: transparent;
    color: white;
    border-radius: 8px;
    outline: none;
}

.contact-form input:focus, 
.contact-form textarea:focus{
    box-shadow: 0 0 10px rgba(255,0,0,0.6);
}

.contact-form button{
    padding: 12px;
    border: none;
    background: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.contact-form button:hover{
    background: darkred;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

.contact textarea{
    resize: none;
    height: 100px;

}




footer{
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}